.vp-nav__link.active {
  color: var(--vp-color-primary);
}

:root {
  /*---- 标题渐变 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(
    135deg,
    #50a9e8 20%,
    #94d0fa 100%
  );

  /*---- 主题色 */
  --vp-c-indigo-1: #43aefc;
  --vp-c-indigo-2: #43aefc;
  --vp-c-indigo-3: #43aefc;
}

.VPFeatures .items .item {
  transition: transform 0.3s;
}

.VPFeatures .items .item:hover {
  transform: translateY(-5px);
}

.medium-zoom-overlay {
  z-index: 30;
}
.medium-zoom-image {
  z-index: 9999 !important;
}