@font-face {
  font-family: "Maple Mono";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url(./MapleMonoNormal-Regular.ttf.woff2);
}

@font-face {
  font-family: "Maple Mono";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url(./MapleMonoNormal-Bold.ttf.woff2);
}

@font-face {
  font-family: "Maple Mono";
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url(./MapleMonoNormal-MediumItalic.ttf.woff2);
}

@font-face {
  font-family: "Maple Mono";
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url(./MapleMonoNormal-BoldItalic.ttf.woff2);
}